.slideshow__container{
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow__wraper{
    z-index: 0;
    background-color: rgba(0, 0, 0);
    opacity: 0.56;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.sideshow_img-cont{
    z-index: -1;
    position: absolute;
    top: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.slideshow__image{
    transform: scale(1, 1);
    transition-property: transform;
    transition-duration: 5s;
}

.slideshow__image-transform{
    transform: scale(1.05, 1.05);
}

.slideshow__image-container{
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow__data-container{
    z-index: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1170px;
}

.slideshow__data{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.slideshow__para1{
    height: 10%;
}

.slideshow__para1 p{
    padding: 0px 0px 0.5em 0px;
    display: inline;
    font-size: 1.1rem;
    color: white;
    border-bottom: 3px solid var(--green-color);
}

.slideshow__para2{
    height: 30%;
    margin: 1em 0;
}

.slideshow__para2 span{
    color: var(--green-color);
}

.slideshow__para2 p{
    font-family: 'Lato', sans-serif;
    font-size: 56px;
    color: white;
    font-weight: 900;
}

.slideshow__para3{
    color: white;
    margin-right: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.slideshow__video-cont{
    display: flex;
}

.play__button{
    width: 50px;
    height: 50px;
}

.slideshow__watch-video{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}


.slideshow__info-section{
    position: relative;
    top: -5em;
}

.slideshow__info-cont{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    
}

.slideshow__info{
    display: flex;
    align-items : flex-end;
    width: 50%;
}

.slideshow_info-icon{
    margin-right: 1rem;
    font-size: 35px;
    color: var(--green-color)
}

.slideshow__info-data-cont{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 3em;
}

.slideshow__info-data-cont div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slideshow__info-card-head{
    color: var(--blue-color);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.slideshow__info-card-info{
    color: #758994;
    margin-bottom: 0.9rem;
    font-weight: 100;
}

.slideshow__info-blocks{
    display: flex;
    width: 50%;
    margin-left: 4em;
}

.slideshow__info-card-cont1{
    width: 50%;
    background-color: var(--blue-color);
}

.slideshow__info-card-cont2{
    width: 50%;
    background-color: var(--green-color);
}

.slideshow__info-card1{
    padding: 15%;
    color: white;
}

.slideshow__card1-heading{
    font-size: 1.5rem;
}

.slideshow__card1-para{
    color: #758994;
    font-weight: 100;
    margin: 10px 0px;
}

.slideshow__card1-button{
    color: var(--green-color);
}

.slideshow__card1-arrow-icon{
    margin-left: 10px;
}

.slideshow__card1-button span{
    font-size: 1rem;
    font-weight: 900;
    color: var(--green-color);
}

.slideshow__info-card2{
    padding: 15%;
    color: white;
}

.slideshow__card2-heading{
    font-size: 1.5em;
}

.slideshow__card2-para1{
    font-size: 3em;
}