@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
  --body-font: 'Heebo';
  --nav-font: 'Lato';
  /* colors */
  --blue-color: #0B2B43;
  --green-color: #7FC6A4;
  --gray-color: #758994;
  --dark-blue-color: #04131E;
}

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
